---
page_title: "Provider: {{ .ProviderName }}"
description: |-
  {{ .Description }}
---

# {{ .ProviderName }} Provider

This provider is used to interact with the Progress LoadMaster API. It supports
the version 2 of the API Reference.

For a detailed documentation of the LoadMaster API, please refer to the
[LoadMaster API Reference](https://loadmasterapiv2.docs.progress.com/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Provider Configuration

The provider can be configured either in the `provider` block or by using environment variables.
The following environment variables are supported:

- `LOADMASTER_HOST` - The hostname or IP address of the LoadMaster.
- `LOADMASTER_USERNAME` - The username for the LoadMaster API.
- `LOADMASTER_PASSWORD` - The password for the LoadMaster API.
- `LOADMASTER_API_KEY` - The API key for the LoadMaster API.

## Authentication

Either the `username` and `password` or the `api_key` must be provided for authentication.

{{ .SchemaMarkdown }}